<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="AcademiaEntities" connectionString="metadata=res://*/ModelAcademia.csdl|res://*/ModelAcademia.ssdl|res://*/ModelAcademia.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=bd_gymsoftare;password=123456;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>